body{
    background-color: rgb(221, 78, 183);
}
.main{
    background-color: rgb(33, 201, 235);
    color: rgb(114, 7, 54);
}
#card{
    background-color: rgb(146, 143, 156);
    border: 10px solid rgb(107, 169, 107);
    width: 500px;
    height: 300px;
    h3{
        color: rgb(225, 209, 209);
    }
     overflow: auto;
    

}
 #class p{
    background-color: rgb(240, 245, 245);
    color: deeppink;
    border: 10px solid green;
    height: 230px;
    
}
#clickbtn{
    background-color: cadetblue;
    border: 1px solid beige;
    border-style: solid ;
    border-width: 2px;
    border-radius: 3px;
    box-shadow: 2px 4px 1px 1px grey;
}

#clickbtn:hover{
    background-color: white;
    color: greenyellow;
}

#clickbtn:active{
    background-color: aquamarine;
    color:azure;
}
